/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-title-color: #DB00FF;
  --menu-text-color: #FF0070;
  --section-title-color: #FF0070;
  --section-sub-title-color: #000028;
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --decorate-elem-color: #FF0070;
}